.cart-item-container {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px;
}

.cart-item-img-container {
  justify-content: center;
}

#dropdown-basic {
  border: none;
  display: inline-block;
  white-space: nowrap;
  padding: 4px 8px;
  background: #e6e6e7 !important;
  color: #282c3f;
  font-weight: 600;
  cursor: pointer;
  margin-right: 12px;
  border-radius: 2px;
  line-height: 16px;
}

.add-from-wishlist {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  padding: 10px 0;
  margin: 10px;
  color: black;
}

.coupon-button {
  font-size: 12px;
  position: absolute;
  padding: 4px 16px;
  font-weight: 600;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 63, 108);
  border-color: rgb(255, 63, 108);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.coupon-button:hover {
  background-color: rgb(253, 205, 216);
}

.order-button {
  margin-top: 1rem;
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
