.chatBot-container .botIconContainer {
  border-radius: 50%;
  background: rgb(34, 129, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 129, 195, 0.9026961126247374) 0%,
    rgba(253, 45, 238, 0.6842087176667542) 100%
  );
  /* font-size: 3rem; */
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  z-index: 2;
  transform: translateY(50%) scale(1);
  transition: transform 1s;
}

.chatBot-container .botIconContainer img {
  /* height: 50px; */
  width: 60px;
  padding: 10px;
}

.chatBot {
  float: right;
  position: fixed;
  top: 8rem;
  right: 6rem;
}
