.hero {
  margin-top: 8rem !important;
  margin-right: 3rem;
  margin-left: 3rem;
}

.hero img {
  height: 600px;
  width: auto;
  object-fit: cover;
}

.carousel-description {
  margin-top: 7rem;
  margin-left: 2rem;
  font-family: "Fredoka", sans-serif;
}

.carousel-description h1 {
  font-size: 50px;
  font-weight: 700;
}

.explore {
  background-color: rgb(220, 220, 220);
  border-radius: 3px;
  padding: 4px;
  padding-right: 6px;
  cursor: pointer;
}

.categories-to-bag {
  margin-top: 4rem;
  font-family: "Montserrat", sans-serif;
}

.categories-to-bag .text-center img {
  cursor: pointer;
}

.hero .categories-to-bag img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.categories-to-bag .category-text {
  text-align: center;
  margin-top: 0.5rem;
}

.all-products {
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

@media (max-width: 1400px) {
  .hero {
    margin-top: 10rem !important;
  }
}
@media (max-width: 1200px) {
  .hero {
    margin-top: 14rem !important;
  }

  .carousel-description h1 {
    font-size: 35px;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .hero {
    margin-top: 18rem !important;
  }
}
