.hero {
  margin-top: 8rem !important;
  margin-right: 3rem;
  margin-left: 3rem;
}

.hero img {
  height: 500px;
  width: auto;
}

.carousel-description {
  margin-top: 7rem;
  margin-left: 2rem;
  font-family: "Fredoka", sans-serif;
}

.carousel-description h1 {
  font-size: 50px;
}

.categories-to-bag {
  margin-top: 3rem;
  font-family: "Fredoka", sans-serif;
}

.hero .categories-to-bag img {
  border-radius: 50%;
  height: 180px;
  width: 180px;
}

.categories-to-bag .category-text {
  text-align: center;
  margin-top: 0.5rem;
}
