* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-button {
  border: none;
  border-radius: 24px;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  background: #ff4584;
  cursor: pointer;
}

.login-button:hover {
  background: #f53677;
}

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px 200px;
  background: #e4e5e5;
  background-image: url("https://images.pexels.com/photos/1269968/pexels-photo-1269968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  display: flex;
}

.login .imgContainer {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: red;
}

.login .imgContainer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #e91e63, #03a9f4);
  z-index: 1;
  mix-blend-mode: screen;
}

.login .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login .loginContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.login .loginContainer .form {
  width: 50%;
}

.login .loginContainer h2 {
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff4584;
  display: inline-block;
  letter-spacing: 1px;
}

.login .loginContainer label {
  color: #607d8b;
  margin: 7px 0;
  display: block;
  font-size: 18px;
  line-height: 1;
  text-align: left;
}

.login .loginContainer input {
  width: 100%;
  /*  border: 1px solid #607d8b; */
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 19px;
  padding: 10px 20px;
  background: #dfe1e2;
  color: #607d8b;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #607d8b;
}

.login .loginContainer .btnContainer p span {
  color: #ff4584;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.share-btn {
  margin-right: 2.5rem;
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  transition: 0.3s;
}

.share-btn:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.share_twitter {
  color: #03a9f4;
}

.share_fb {
  color: #4966a0;
}

.share_google {
  color: #ea4158;
}
