* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav ul li.active {
  background-color: #555;
}

.nav ul li:hover {
  background-color: #777;
}

/* Search-Box */

.search-box {
  padding: 15px;
  position: relative;
}

.search-icon {
  position: absolute;
  font-size: 20px;
  left: 25px;
  top: 25px;
}

.input-search {
  border: none;
  background-color: rgb(224, 223, 223);
  padding: 10px;
  padding-left: 40px;
  border-radius: 10px;
}

.nav-right {
  padding: 15px;
  align-items: center;
}

/*  LOGOUT  */

.logout-btn {
  padding: 10px 10px !important;
  border-radius: 10px;
}

.nav-icons {
  font-size: 20px;
}

/* Categories dropdown */

.sub-menu {
  display: none;
}

.nav ul li:hover .sub-menu {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: rgb(100, 186, 197);
  color: black;
}

.nav ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}

.nav ul li:hover .sub-menu ul li {
  padding: 500px;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

/* REGIONS DROPDOWN */

.sub-menu-2 {
  display: none;
  margin-top: 20px;
}

.nav .nav-right .nav-icons .flag:hover .sub-menu-2 {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: rgb(223, 220, 220);
  color: black;
}

.nav .nav-right .nav-icons .flag:hover .sub-menu-2 a {
  margin: 10px;
  width: 180px;
}

/* SUB-MENU 3 */

.sub-menu-3 {
  display: none;
}

.nav .nav-right .nav-icons .flag .sub-menu-2:hover .sub-menu-3 {
  display: block;
  position: absolute;
  z-index: 3;
  background-color: rgb(223, 220, 220);
  color: black;
}
