* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 10rem !important;
  z-index: 2;
  background: #f9f9f9;
  color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}

.site-title {
  font-size: 3rem;
  font-family: "Zen Tokyo Zoo", cursive;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-family: "Fredoka", sans-serif;
  font-size: 19px;
}

.nav ul li {
  position: relative;
}

.nav ul li.active {
  background-color: #555;
}

.nav > ul > li:not(:last-of-type):hover::after {
  background-color: #ec6f66;
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
}

.nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

/* Search-Box */

.search__container {
  padding-top: 0.5rem;
  margin-left: 6rem;
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  /* background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.searchList a {
  padding: 0;
}

.list-group-item {
  width: 300px;
}

.list-group-item:hover {
  background: #c2c27e;
  border-top: 2px solid transparent;
  border-bottom: 2px solid gray;
}

.nav-right {
  margin-left: 1rem;
  padding: 15px 0px;
  align-items: center;
  font-size: 19px;
  font-family: "Fredoka", sans-serif;
}

.nav-right .nav-icons {
  margin-right: 10px !important;
  cursor: pointer;
}

/*  LOGOUT  */

.logout-div {
  text-align: right;
}

.logout-div img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float: left;
  color: aliceblue;
}

.logout {
  color: black;
  font-size: 1.5rem;
  margin-left: 5px;
  overflow: hidden;
  letter-spacing: 1px;
}
/*
.logout-button {
  text-decoration: none;
  margin: 5px 0px;
  color: white;
  width: 35px;
  height: 40px;
  margin: 10px 0px;
  background-color: whitesmoke;
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  overflow: hidden;
}

.logout-div a:hover {
  width: 100px;
}

a:hover .logout {
  opacity: 0.9;
}
a {
  text-decoration: none !important;
} */

/* Categories dropdown */

.sub-menu {
  display: none;
}

.sub-menu ul a {
  padding: 0;
}

.nav ul li:hover .sub-menu {
  display: block;
  cursor: pointer;
  position: absolute;
  width: 200px;
  z-index: 100;
}

.nav ul li:hover .sub-menu ul {
  display: block;
}

.nav ul li:hover .sub-menu ul li {
  background-color: white;
  color: gray;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0;
  text-align: left;
  width: 200px;
}

.nav ul li:hover .sub-menu ul li:hover {
  padding-left: 25px;
  /* width: 170px; */
  /* background-color: #f0f0f0; */
  box-shadow: 2px 6px 20px -2px rgba(0, 0, 0, 0.75);
  color: #ec6f66;
  font-weight: bold;
  border-bottom: 5px solid transparent;
}

/* CART-INDICATOR */

.cart-length {
  background-color: rgb(255, 63, 108);
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 19px;
  line-height: 1;
  padding: 3px 8px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

/* REGIONS DROPDOWN */

.sub-menu-2 {
  display: none;
  /* margin-top: 20px; */
}

.nav .nav-right .nav-icons .flag:hover .sub-menu-2 {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: white;
  color: gray;
  right: 30px;
}

.nav .nav-right .nav-icons .flag:hover .sub-menu-2 a {
  margin: 10px;
  width: 250px;
}

.nav .nav-right .nav-icons .flag:hover .sub-menu-2 a:hover {
  color: #ec6f66;
  font-weight: bold;
}

.sub-menu-3 {
  display: none;
}

.logout-div .profile:hover .sub-menu-3 {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 200px;
  z-index: 100;
  right: 50px;
  top: 60px;
}

.logout-div .profile:hover .sub-menu-3 ul {
  display: block;
}

.logout-div .profile:hover .sub-menu-3 ul a {
  padding: 0;
}

.logout-div .profile:hover .sub-menu-3 ul li {
  background-color: white;
  color: gray;
  font-size: 16px;
  padding: 2px 15px;
  cursor: pointer;
  border-radius: 0;
  text-align: left;
  width: 200px;
}

.logout-div .profile:hover .sub-menu-3 ul li:hover {
  padding-left: 25px;
  box-shadow: 2px 6px 20px -2px rgba(0, 0, 0, 0.75);
  color: #ec6f66;
}

/* @media (max-width: 992px) {
  .search-box {
    display: none;
  }
} */

.navbar-toggle {
  border: none;
  background: transparent !important;
}
