.product-details {
  font-family: "Montserrat", sans-serif;
}

/* Colors Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/* Size Buttons */

.size-buttons {
  display: inline-block;
  text-decoration: none;
  background: #ffffff;
  color: rgb(34, 34, 34);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.4s;
  margin-right: 1rem;
  border: 1px solid black;
}

.size-buttons:hover {
  border: 2px solid rgb(255, 63, 108);
  color: rgb(255, 63, 108);
}

.cartwish-btns {
  display: flex;
}

.cart_btn {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 15px 70px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.cart_btn:hover {
  background-color: rgb(247, 112, 144);
  color: rgb(255, 255, 255);
}

.wishlist_btn {
  margin-left: 1rem;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 15px 40px;
  background-color: rgb(248, 245, 246);
  color: rgb(28, 28, 28);
  cursor: pointer;
  border: 1px solid rgb(207, 206, 206);
}

.wishlist_btn:hover {
  border: 1px solid rgb(16, 16, 16);
  color: black;
}
@media (max-width: 1400px) {
  .product-details {
    margin-top: 14rem !important;
  }
}
@media (max-width: 1200px) {
  .product-details {
    margin-top: 12rem !important;
  }
  .cart_btn {
    padding: 15px 20px;
  }

  .wishlist_btn {
    padding: 15px 15px;
  }
}

@media (max-width: 992px) {
  .cart_btn {
    padding: 15px 5px;
  }

  .wishlist_btn {
    padding: 15px 5px;
  }
}

@media (max-width: 768px) {
  .product-details {
    margin-top: 15rem !important;
  }
  .cart_btn {
    padding: 15px 20px;
  }

  .wishlist_btn {
    padding: 15px 15px;
  }
}

/* .new_tag {
  background: #9a5abf;
  display: block;
  color: white;
  font-family: sans-serif;
  padding: 10px 20px;
  position: absolute;
  top: -8px;
  right: 70px;
  border-radius: 5px 0 0 5px;
} */

.badge-overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  -webkit-transition: width 1s ease, height 1s ease;
  -moz-transition: width 1s ease, height 1s ease;
  -o-transition: width 1s ease, height 1s ease;
  transition: width 0.4s ease, height 0.4s ease;
}

.badge {
  margin: 0;
  padding: 0;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  background: #ed1b24;
  border-radius: 0;
}

.badge::before,
.badge::after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 80%;
  height: 100%;
  background: inherit;
  min-width: 55px;
}

.badge::before {
  right: 100%;
}

.badge::after {
  left: 100%;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  -ms-transform: translateX(30%) translateY(0%) rotate(45deg);
  -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
  transform: translateX(30%) translateY(0%) rotate(45deg);
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

/* .new_tag .block1 {
  height: 42px;
  transform: skew(0deg, 65deg);
  background: #ac7ac9;
  padding: 0;
  width: 12px;
  top: 13px;
  right: -12px;
  border-radius: 0;
}
.new_tag .block2 {
  background: #8042a6;
  z-index: -1;
  top: 37px;
  right: -12px;
  height: 16px;
  transform: skew(0deg, 28deg);
}
 */
